<div class='inline-block w-96 border border-blue-300 rounded-xl text-left p-3 m-5 bg-blue-300 shadow-xl'>
    <h1 class='text-center text-2xl font-bold underline mb-3'>Lager</h1>
    {% set step = 0 %}
    {% for data in inventory %}
        {% for product in products %}
            {% if data.productId == product.id %}
                {% if step == 0 %}
                    {% set bg = 'bg-pink-200' %}
                    {% set step = step + 1 %}
                {% else %}
                    {% set bg = 'bg-pink-100' %}
                    {% set step = step - 1 %}
                {% endif %}

                <div class='p-3 {{ bg }} flex justify-between items-center'>
                    <span>{{ product.productName }}</span>
                    <div class='flex items-center'>
                        {% if pickToModify == data.id %}
                            <span class='pr-3'>
                                <input type='hidden' name='productId' value='{{ data.productId }}'>
                                <input name='amount' size='10' value='{{ data.amount }}'>
                            </span>
                            {% include 'buttons/modifyButton.twig' %}
                            {% include 'buttons/cancelButton.twig' %}
                        {% else %}
                            <span class='pr-3'>{{ data.amount }} {{ product.unit }}</span>
                            {% if currentPage == 'inventory' %}
                                {% include 'buttons/pickToModifyButton.twig' %}
                                {% include 'buttons/deleteButton.twig' %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if currentPage == 'inventory' %}
        <div class='p-3 mt-5 bg-pink-100 flex justify-between items-center border border-solid border-pink-400'>
            <select name='newProductId'>
                {% for product in products %}
                    <option value='{{ product.id }}'>{{ product.productName }} / {{ product.unit }}</option>
                {% endfor %}
            </select>
            <div class='flex items-center'>
                <span class='pr-3'>
                    <input name='newAmount' size='10' placeholder='Menge'>
                </span>
                {% include 'buttons/createButton.twig' %}
            </div>
        </div>
    {% endif %}
</div>